:root {
    --main-background-color: #252525;
    --main-mid-background-color: #424242;
    --main-light-background-color: #999;
    --main-white: white;
    --main-font-color: white;
    --main-font-color-off: #999;
}

body, html {
    height: 100%;
    min-width: 1210px;
    overflow-x: auto;
}

.ui.grid {
    margin: 0;
}

#app-main {
    background: var(--main-background-color);
}

.item {
    font-size: 15px;
}
.ui.form .field > label {
    color: var(--main-font-color)
}

.tab-menu-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.tab-menu-wrapper .item {
    display: inline-block;
}



.resultHeadline {
    padding-top: 20px;
    padding-left: 10px;
    margin: 0;
    color: var(--main-font-color);
}

.interpretHl {
    padding-left: 10px;
    margin: 0;
}

.logo {
    max-width: 100%;
    height: 100px;
    display: block;
    margin: auto;
}

#content {
    height: 100%
}

#root {
    height: 100%
}

.app {
    height: 100%
}


#toggle-h3 {
    position: absolute;
    right: 10px;
    top: 15px;
}

.slider{
    background-color: var(--main-background-color);
}

.ui.input > input {
    background-color: var(--main-light-background-color);
}

#app-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: clip;

}

.result-dropdown{
    background-color: var(--main-light-background-color);
    color : var(--main-font-color);
}

.ui.checkbox .box::after, .ui.checkbox label::after {
    color: var(--main-font-color);
    background-color: var(--main-font-color);
}


#slider-header {
    margin-bottom: 0.285714rem;
    margin-top: 0.5rem;
    color: var(--main-font-color);
}
.ui.form .inline.fields > label{
    color: var(--main-font-color);
}
.ui.card {
    background-color: var(--main-mid-background-color);
}

.ui.radio.checkbox .box, .ui.radio.checkbox label {
    color: var(--main-font-color);
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
    background-color: var(--main-light-background-color);
}

.ui.form .field > .selection.dropdown {
    background-color: var(--main-light-background-color);
}
.ui.selection.dropdown .menu > .item {
    background-color: var(--main-light-background-color);

}


#inlineCol {
    padding: 0;
}
#sliderCols {
    width: 33%;
}

#sliderColsBottom {
    width: 50%;
}

#inlineRow {
    padding: 0;
}

#sliderHalfDiv {
    width: 50%;
}

.inlineDiv {
    display: inline;
}

#main-grid {
    height: inherit;
    min-width: inherit;
}

#right-col {
    height: 100%;
}

#left-col {
    height: 100%;
}

#middle-col {
    margin-top: 30px;
    height: 100%;
}

#middle-col-hl {
    margin-top: 30px;
    height: 89%;
}

#button_new_scenario {
    width: -moz-available;
    margin-right: 0;
    margin-top: 3%;
    margin-bottom: 3%;
}


.ui.attached.segment {
    height: 70%;
}

#tab-pane {
    height: 68vh;
    overflow-y: auto;
    background-color: var(--main-mid-background-color);
}

#tab-pane-results {
    height: 89%;
    overflow-y: auto;
    background-color: var(--main-mid-background-color);
}

#tabs {
    height: 80%;
}


#leftColumnGrid {
    height: 100%;
}

.ui.styled.accordion .title {
    padding-left: 0;
}

#table-general{
    background-color: var(--main-mid-background-color);
    color: var(--main-font-color);
}

#table-header-result-overview{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    background-color: var(--main-light-background-color);
    color: var(--main-font-color);
}
#table-header-result-overview-left{
    padding-top: 1px;
    padding-left: 8px;
    background-color: var(--main-light-background-color);
    color: var(--main-font-color);
    padding-bottom: 16px;
}

#table-header-text{
    margin-top:11px;
}


#table-header{
    background-color: var(--main-mid-background-color);
    color: var(--main-font-color);
}
#table-slider{
    min-width: 2.5em;
}

#accordion-list-item-runs{
    padding-left: 15px;
}

#accordion-list-item-runs-li{
    cursor: pointer;
}

#accordion {
    height: 75.7vh;
    background: var(--main-mid-background-color);
    color: var(--main-font-color)
}
.ui.selection.dropdown{
    background: var(--main-mid-background-color);
    color: var(--main-font-color);
    font-weight: bold;
}
.plot-container {
    width: 100%;
    height: calc(100vh - 100px); /* Dynamische Höhe basierend auf Fenstergröße */
}

#accordion-left {
    height: 72vh;
    background: var(--main-mid-background-color);
    color: var(--main-font-color-off);
    overflow-y: auto;
}

.ui.styled.accordion .active.title {
    color: var(--main-font-color)
}
.ui.styled.accordion .title {
    color: var(--main-font-color-off)
}
.ui.tabular.menu .active.item{
    color: var(--main-font-color);
    background: var(--main-mid-background-color);
}
.ui.tabular.menu .item{
    color: var(--main-font-color-off);
}
#resultDropDown{
    color: var(--main-font-color);
    background-color: var(--main-light-background-color);
}

.dropdown-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.panelList {
    margin-left: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dropdown.icon {
    margin-left: -10px;
}


#rightColumnGrid {
    height: 100%;
}

.ui.fluid.accordion {
    height: 80%;
}

.outerUpperRow {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#deleteButton {
    margin-top: 45px;
    float: left;
}

#downloadButton {
    margin-top: 45px;
    float: right;
}

#excelDownloadButton {
    float: right;
}

#uploadButton {
    margin-top: 45px;
    float: right;
}

#runButton {
    margin-top: 45px;
    float: right;
}

#saveButton {
    margin-top: 45px;
    float: right;
}

.portalSegment {
    left: 30%;
    position: fixed;
    top: 30%;
    zIndex: 1000,
}

#panel-item {
    padding: .6em 1.14285714em;
}

.plot {
    width: 100%;
    height: 100%;
}

#plotButton {
    margin-bottom: 5px;
    background-color: var(--main-mid-background-color);
    color: var(--main-font-color);
}

#scenarioListItem{
    width: 90%;
    padding: 4px 0 6px 0;
    margin: 1px 0 1px 0;
    overflow: auto;
}

#registrationButton{
    margin-top: 3em;
}

#logoutDiv {
    margin-bottom: -80px;
    float: right;
}


#modal{
    color: var(--main-font-color);
    background-color: var(--main-mid-background-color);
}

.ui.menu > .item:not(.active) {
    color: var(--main-font-color);
}

.ui.menu .item:hover,
.ui.menu .item.active:hover {
    color: #999 !important;
}

.ui.input > input::placeholder {
    color: var(--main-font-color);
}


.ui.dropdown:not(.button) > .default.text {
    color: var(--main-font-color);
}

.ui.input.focus > input::placeholder, .ui.input > input:focus::placeholder {
    color: var(--main-font-color);
}

body {
    color: var(--main-font-color);
}


#loginButton{
    margin-top: 3em;
}

#headerLoggedIn {
    margin-bottom: 4px;
    margin-right: 1em;
    color: var(--main-font-color);
}
#headerUserLoggedIn{
    margin-top: 0;
    margin-right: 1em;
    color: var(--main-font-color);
}

#forgotPasswordButton {
    margin-left: 0.5em;
}

#loginDiv {
    display:flex;
    align-items:flex-end;
    justify-content:center;
    padding-top:3em;
}

/*.plot-button {*/
/*    background-color: var(--main-mid-background-color);*/
/*    color: var(--main-font-color);*/
/*    padding: 10px 20px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.plot-button.clicked {*/
/*    background-color: lightgray;*/
/*}*/



#plot-button.active {
    background-color: #2185d0; /* Beispiel: Blau als aktive Hintergrundfarbe */
    color: white; /* Weißer Text für den aktiven Button */
}

#plot-button {
    background-color: var(--main-mid-background-color);
    color: var(--main-font-color);
}

.ui.styled.accordion.content {
    padding: 0.5em 0.5em 1.5em
}

.ui.card {
    width: auto;
    padding: 1em;

}

